In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
url_dataset = 'data/dataset.csv'

df = pd.read_csv(url_dataset, sep=';')
df

,uuid,default,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,...,status_3rd_last_archived_0_24m,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv
0,63f69b2c-8b1c-4740-b78d-52ed9a4515ac,0.0,0,0.0,0.0,0.0,0.000000,1.0,1.0,NaN,...,1,1,1,1,0,0,0,178839,9.653333,1.0
1,0e961183-8c15-4470-9a5e-07a1bd207661,0.0,0,0.0,0.0,0.0,NaN,1.0,1.0,1.0,...,1,1,2,2,0,0,0,49014,13.181389,NaN
2,d8edaae6-4368-44e0-941e-8328f203e64e,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,1,1,2,2,0,0,0,124839,11.561944,1.0
3,0095dfb6-a886-4e2a-b056-15ef45fdb0ef,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,1,1,1,0,0,0,324676,15.751111,1.0
4,c8f8b835-5647-4506-bf15-49105d8af30b,0.0,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,...,0,1,1,1,0,0,0,7100,12.698611,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99971,5c03bc63-ea65-4ffd-aa7b-95ea9a46db34,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,...,1,1,1,1,0,0,0,60127,10.765556,NaN
99972,f8db22f4-9819-420c-abbc-9ddf1843176e,NaN,0,0.0,0.0,0.0,0.004044,1.0,1.0,NaN,...,1,0,1,1,0,7948,0,4740,21.708333,NaN
99973,b22e21ea-b1b2-4df3-b236-0ff6d5fdc0d8,NaN,45671,0.0,20.0,0.0,0.705078,2.0,2.0,2.0,...,0,0,0,0,0,17447,19627,3100,2.185278,NaN
99974,bafcab15-9898-479c-b729-c9dda7edb78f,NaN,56102,0.0,0.0,0.0,0.064175,1.0,2.0,1.0,...,1,1,1,1,0,18339,56180,34785,9.725278,NaN
99975,ac88f18c-96a6-49bc-9e9d-a780225914af,NaN,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,...,1,2,2,2,0,0,0,30602,11.585278,NaN

### Preparing the dataset

In [3]:
df.default.isna().sum()

10000

In [4]:
df.default.tail(10000).isna().sum()

10000

In [5]:
df_to_predict = df.tail(10000).copy()

In [6]:
df = df.loc[:89975]

## Removing columns above 20% of NA

In [7]:
df.isnull().sum().sort_values(ascending=False)/len(df)

worst_status_active_inv                0.695074
account_worst_status_12_24m            0.667456
account_worst_status_6_12m             0.603639
account_incoming_debt_vs_paid_0_24m    0.593014
account_worst_status_3_6m              0.577243
account_status                         0.543856
account_worst_status_0_3m              0.543856
avg_payment_span_0_3m                  0.493265
avg_payment_span_0_12m                 0.238597
num_active_div_by_paid_inv_0_12m       0.229595
num_arch_written_off_0_12m             0.181215
num_arch_written_off_12_24m            0.181215
account_days_in_term_12_24m            0.118732
account_days_in_rem_12_24m             0.118732
account_days_in_dc_12_24m              0.118732
sum_paid_inv_0_12m                     0.000000
sum_capital_paid_account_12_24m        0.000000
sum_capital_paid_account_0_12m         0.000000
recovery_debt                          0.000000
status_max_archived_0_12_months        0.000000
status_max_archived_0_6_months         0.000000
status_3rd_last_archived_0_24m         0.000000
status_2nd_last_archived_0_24m         0.000000
status_last_archived_0_24m             0.000000
num_unpaid_bills                       0.000000
time_hours                             0.000000
status_max_archived_0_24_months        0.000000
num_arch_ok_12_24m                     0.000000
num_arch_rem_0_12m                     0.000000
num_arch_ok_0_12m                      0.000000
num_arch_dc_12_24m                     0.000000
num_arch_dc_0_12m                      0.000000
num_active_inv                         0.000000
default                                0.000000
name_in_email                          0.000000
max_paid_inv_0_24m                     0.000000
max_paid_inv_0_12m                     0.000000
has_paid                               0.000000
merchant_group                         0.000000
merchant_category                      0.000000
account_amount_added_12_24m            0.000000
age                                    0.000000
uuid                                   0.000000
dtype: float64

In [8]:
#df.drop(columns=['worst_status_active_inv',
#                 'account_worst_status_12_24m',
#                 'account_worst_status_6_12m',
#                 'account_incoming_debt_vs_paid_0_24m',
#                 'account_worst_status_3_6m',
#                 'account_status',
#                 'account_worst_status_0_3m',
#                 'avg_payment_span_0_3m',
#                 'avg_payment_span_0_12m',
#                 'num_active_div_by_paid_inv_0_12m',
#                 'name_in_email'], inplace=True)

In [9]:
df.has_paid = df.has_paid*1

/Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [10]:
#df.drop(columns=['merchant_category',
#                 'merchant_group'],inplace=True)

In [11]:
#corr = df.corr()
#sns.heatmap(corr, 
#        xticklabels=corr.columns,
#        yticklabels=corr.columns,
#        cmap= "YlGnBu")

In [12]:
num_col = ['age',
           'account_amount_added_12_24m',
           'account_days_in_dc_12_24m',
           'account_days_in_rem_12_24m',
           'account_days_in_term_12_24m',
           'max_paid_inv_0_12m',
           'max_paid_inv_0_24m',
           'num_active_inv',
           'num_arch_ok_0_12m',
           'num_arch_ok_12_24m',
           'num_arch_rem_0_12m',
           'num_arch_written_off_0_12m',
           'num_arch_written_off_12_24m',
           'num_unpaid_bills',
           'recovery_debt',
           'sum_capital_paid_account_0_12m',
           'sum_paid_inv_0_12m']

cat_col = ['status_last_archived_0_24m',
           'status_max_archived_0_6_months',
           'status_max_archived_0_12_months',
           'has_paid']

In [14]:
from sklearn.pipeline import Pipeline

from sklearn.impute import SimpleImputer

from sklearn.preprocessing import RobustScaler, OneHotEncoder

from sklearn.compose import ColumnTransformer

from sklearn.linear_model import LogisticRegression, Ridge

from sklearn.model_selection import cross_val_score, GridSearchCV

num_transformer = Pipeline([
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', RobustScaler())])

cat_transformer = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),
    ('onehot', OneHotEncoder(handle_unknown='ignore', drop='if_binary',sparse=False))])

preprocessor = ColumnTransformer([
    ('num_tr', num_transformer, num_col),
    ('cat_tr', cat_transformer, cat_col)], remainder='drop')

In [15]:
pipe = Pipeline([
    ('preproc', preprocessor),
    ('model', LogisticRegression(max_iter=3000,solver='liblinear',class_weight='balanced'))
])

In [16]:
SimpleImputer.get_feature_names_out = (lambda self, names=None: self.feature_names_in_)

In [17]:
X = df.drop(columns = ['default'])
y = df['default']

In [18]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [19]:
score_baseline = cross_val_score(pipe, X, y, cv=5, scoring='recall').mean()

In [20]:
score_baseline

0.8206346333665128

In [21]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('preproc',
                 ColumnTransformer(transformers=[('num_tr',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   RobustScaler())]),
                                                  ['age',
                                                   'account_amount_added_12_24m',
                                                   'account_days_in_dc_12_24m',
                                                   'account_days_in_rem_12_24m',
                                                   'account_days_in_term_12_24m',
                                                   'max_paid_inv_0_12m',
                                                   'max_paid_inv_0_24m',
                                                   'num_active_inv',
                                                   'num_arch...
                                                   'sum_paid_inv_0_12m']),
                                                 ('cat_tr',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['status_last_archived_0_24m',
                                                   'status_max_archived_0_6_months',
                                                   'status_max_archived_0_12_months',
                                                   'has_paid'])])),
                ('model',
                 LogisticRegression(class_weight='balanced', max_iter=3000,
                                    solver='liblinear'))])

In [22]:
X_train_rescaled = pd.DataFrame(preprocessor.fit_transform(X_train),columns=preprocessor.get_feature_names_out())

In [23]:
from statsmodels.stats.outliers_influence import variance_inflation_factor as vif

#getting all VIFs in a single table
vif = pd.DataFrame()

In [25]:
#vif["features"] = X_train_rescaled.columns

#vif["vif_index"] = [vif(X_train_rescaled.values, i) for i in range(X_train_rescaled.shape[1])]

#round(X_train_rescaled.sort_values(by="vif_index", ascending = False),2)

In [26]:
from sklearn.inspection import permutation_importance

permutation_score = permutation_importance(pipe, X, y, n_repeats=10) # Perform Permutation

importance_df = pd.DataFrame(np.vstack((X.columns,
                                        permutation_score.importances_mean)).T) # Unstack results
importance_df.columns=['feature','score decrease']

importance_df.sort_values(by="score decrease", ascending = False) # Order by importance

                                feature score decrease
39                   sum_paid_inv_0_12m       0.054593
21                       num_active_inv       0.024371
11                                  age       0.016378
16                             has_paid       0.013815
29                     num_unpaid_bills       0.009759
34      status_max_archived_0_12_months       0.007513
26                   num_arch_rem_0_12m        0.00162
37       sum_capital_paid_account_0_12m       0.001215
3            account_days_in_rem_12_24m       0.001064
36                        recovery_debt       0.000365
4           account_days_in_term_12_24m       0.000283
2             account_days_in_dc_12_24m       0.000273
27           num_arch_written_off_0_12m        0.00001
1           account_amount_added_12_24m       0.000003
23                   num_arch_dc_12_24m            0.0
35      status_max_archived_0_24_months            0.0
31       status_2nd_last_archived_0_24m            0.0
32       status_3rd_last_archived_0_24m            0.0
38      sum_capital_paid_account_12_24m            0.0
40                           time_hours            0.0
22                    num_arch_dc_0_12m            0.0
0                                  uuid            0.0
20     num_active_div_by_paid_inv_0_12m            0.0
19                        name_in_email            0.0
5   account_incoming_debt_vs_paid_0_24m            0.0
6                        account_status            0.0
7             account_worst_status_0_3m            0.0
8           account_worst_status_12_24m            0.0
9             account_worst_status_3_6m            0.0
10           account_worst_status_6_12m            0.0
12               avg_payment_span_0_12m            0.0
13                avg_payment_span_0_3m            0.0
14                    merchant_category            0.0
15                       merchant_group            0.0
41              worst_status_active_inv            0.0
28          num_arch_written_off_12_24m      -0.000014
17                   max_paid_inv_0_12m      -0.016816
33       status_max_archived_0_6_months      -0.017747
18                   max_paid_inv_0_24m      -0.024351
30           status_last_archived_0_24m       -0.05076
24                    num_arch_ok_0_12m       -0.05558
25                   num_arch_ok_12_24m      -0.056394

In [36]:
from sklearn.neighbors import KNeighborsClassifier

num_col_2 = ['sum_paid_inv_0_12m',
             'num_active_inv',
             'age',
             'num_unpaid_bills',
             'num_arch_rem_0_12m',
             'account_days_in_rem_12_24m',
             'sum_capital_paid_account_0_12m',
             'account_amount_added_12_24m',
             'recovery_debt',
             'account_days_in_term_12_24m',
             'account_days_in_dc_12_24m',
             'num_arch_written_off_0_12m']

cat_col_2 = ['status_max_archived_0_12_months','has_paid']

preprocessor_2 = ColumnTransformer([
    ('num_tr', num_transformer, num_col_2),
    ('cat_tr', cat_transformer, cat_col_2)], remainder='drop')


pipe_2 = Pipeline([
    ('preproc', preprocessor_2),
    ('model', LogisticRegression(max_iter=1000,solver='liblinear',class_weight='balanced'))
])

In [28]:
score_baseline_2 = cross_val_score(pipe_2, X, y, cv=5, scoring='recall').mean()
score_baseline_2

0.7802159683889844

In [37]:
pipe_2.fit(X_train,y_train)

Pipeline(steps=[('preproc',
                 ColumnTransformer(transformers=[('num_tr',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='median')),
                                                                  ('scaler',
                                                                   RobustScaler())]),
                                                  ['sum_paid_inv_0_12m',
                                                   'num_active_inv', 'age',
                                                   'num_unpaid_bills',
                                                   'num_arch_rem_0_12m',
                                                   'account_days_in_rem_12_24m',
                                                   'sum_capital_paid_account_0_12m',
                                                   'account_amount_added_12_24m',
                                                   'recovery_debt',
                                                   'account_days_in_term_12_24m',
                                                   'account_days_in_dc_12_24m',
                                                   'num_arch_written_off_0_12m']),
                                                 ('cat_tr',
                                                  Pipeline(steps=[('imputer',
                                                                   SimpleImputer(strategy='most_frequent')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore',
                                                                                 sparse=False))]),
                                                  ['status_max_archived_0_12_months',
                                                   'has_paid'])])),
                ('model',
                 LogisticRegression(class_weight='balanced', max_iter=1000,
                                    solver='liblinear'))])

## Predicting

In [30]:
X_pred = df_to_predict.drop('default',axis=1)

In [31]:
y_pred = pipe_2.predict(X_test)

In [32]:
y_pred

array([0., 1., 0., ..., 0., 1., 0.])

In [33]:
y_ = pipe_2.predict(X_pred)

In [34]:
y_

array([0., 0., 0., ..., 1., 0., 0.])

In [50]:
y_.shape

(10000,)

In [52]:
X_pred.shape

(10000, 42)

In [55]:
X_pred['default']=''

In [53]:
resp_df = df1.merge(df2, how='right')

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [57]:
X_pred.to_csv('X_pred.csv')

## Using SMOTE

## Save model : pipe_2

In [35]:
import joblib

In [38]:
joblib.dump(pipe_2, 'model.joblib')

['model.joblib']

## Predict NA Values

## To csv

## API

In [41]:
import requests
import shutil

#construire l'API avec FASTAPI

### Installer fastapi

In [46]:
# Installing FastAPI
!pip install fastapi
# Installing Uvicorn : fast web server for python
!pip install uvicorn

Requirement already satisfied: fastapi in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (0.70.1)
Requirement already satisfied: starlette==0.16.0 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from fastapi) (0.16.0)
Requirement already satisfied: pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from fastapi) (1.9.0)
Requirement already satisfied: anyio<4,>=3.0.0 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from starlette==0.16.0->fastapi) (3.4.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from pydantic!=1.7,!=1.7.1,!=1.7.2,!=1.7.3,!=1.8,!=1.8.1,<2.0.0,>=1.6.2->fastapi) (3.7.4.3)
Requirement already satisfied: sniffio>=1.1 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from anyio<4,>=3.0.0->starlette==0.16.0->fastapi) (1.2.0)
Requirement already satisfied: idna>=2.8 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from anyio<4,>=3.0.0->starlette==0.16.0->fastapi) (3.3)
Requirement already satisfied: uvicorn in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (0.16.0)
Requirement already satisfied: asgiref>=3.4.0 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from uvicorn) (3.4.1)
Requirement already satisfied: click>=7.0 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from uvicorn) (8.0.3)
Requirement already satisfied: h11>=0.8 in /Users/pierre/.pyenv/versions/3.8.12/envs/lewagon/lib/python3.8/site-packages (from uvicorn) (0.12.0)

In [43]:
from fastapi import FastAPI

app = FastAPI()

# define a root `/` endpoint
@app.get("/")
def index():
    return {"ok": True}

In [47]:
!python -m simple

/Users/pierre/.pyenv/versions/lewagon/bin/python: No module named simple

In [48]:
!uvicorn simple:app --reload

INFO:     Will watch for changes in these directories: ['/Users/pierre/code/PierreCeraH/pierrepacks/Klarna']
INFO:     Uvicorn running on http://127.0.0.1:8000 (Press CTRL+C to quit)
INFO:     Started reloader process [67611] using statreload
ERROR:    Error loading ASGI app. Could not import module "simple".
INFO:     Stopping reloader process [67611]

In [59]:
list(X_train.columns)

['uuid',
 'account_amount_added_12_24m',
 'account_days_in_dc_12_24m',
 'account_days_in_rem_12_24m',
 'account_days_in_term_12_24m',
 'account_incoming_debt_vs_paid_0_24m',
 'account_status',
 'account_worst_status_0_3m',
 'account_worst_status_12_24m',
 'account_worst_status_3_6m',
 'account_worst_status_6_12m',
 'age',
 'avg_payment_span_0_12m',
 'avg_payment_span_0_3m',
 'merchant_category',
 'merchant_group',
 'has_paid',
 'max_paid_inv_0_12m',
 'max_paid_inv_0_24m',
 'name_in_email',
 'num_active_div_by_paid_inv_0_12m',
 'num_active_inv',
 'num_arch_dc_0_12m',
 'num_arch_dc_12_24m',
 'num_arch_ok_0_12m',
 'num_arch_ok_12_24m',
 'num_arch_rem_0_12m',
 'num_arch_written_off_0_12m',
 'num_arch_written_off_12_24m',
 'num_unpaid_bills',
 'status_last_archived_0_24m',
 'status_2nd_last_archived_0_24m',
 'status_3rd_last_archived_0_24m',
 'status_max_archived_0_6_months',
 'status_max_archived_0_12_months',
 'status_max_archived_0_24_months',
 'recovery_debt',
 'sum_capital_paid_account_0_12m',
 'sum_capital_paid_account_12_24m',
 'sum_paid_inv_0_12m',
 'time_hours',
 'worst_status_active_inv']

In [60]:
X_pred

,uuid,account_amount_added_12_24m,account_days_in_dc_12_24m,account_days_in_rem_12_24m,account_days_in_term_12_24m,account_incoming_debt_vs_paid_0_24m,account_status,account_worst_status_0_3m,account_worst_status_12_24m,account_worst_status_3_6m,...,status_max_archived_0_6_months,status_max_archived_0_12_months,status_max_archived_0_24_months,recovery_debt,sum_capital_paid_account_0_12m,sum_capital_paid_account_12_24m,sum_paid_inv_0_12m,time_hours,worst_status_active_inv,default
89976,6f6e6c6a-2081-4e6b-8eb3-4fd89b54b2d7,0,0.0,0.0,0.0,0.009135,1.0,1.0,NaN,1.0,...,1,1,1,0,8815,0,27157,19.895556,NaN,
89977,f6f6d9f3-ef2b-4329-a388-c6a687f27e70,0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0.236667,NaN,
89978,e9c39869-1bc5-4375-b627-a2df70b445ea,50956,0.0,77.0,0.0,0.000000,1.0,1.0,2.0,3.0,...,1,1,3,0,36163,39846,93760,20.332778,NaN,
89979,6beb88a3-9641-4381-beb6-c9a208664dd0,35054,0.0,0.0,0.0,0.000000,1.0,1.0,1.0,1.0,...,2,2,2,0,62585,0,1790,6.201111,NaN,
89980,bb89b735-72fe-42a4-ba06-d63be0f4ca36,0,0.0,0.0,0.0,0.000000,1.0,2.0,NaN,2.0,...,0,0,0,0,14295,0,0,8.451111,NaN,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99971,5c03bc63-ea65-4ffd-aa7b-95ea9a46db34,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,NaN,...,1,1,1,0,0,0,60127,10.765556,NaN,
99972,f8db22f4-9819-420c-abbc-9ddf1843176e,0,0.0,0.0,0.0,0.004044,1.0,1.0,NaN,1.0,...,0,1,1,0,7948,0,4740,21.708333,NaN,
99973,b22e21ea-b1b2-4df3-b236-0ff6d5fdc0d8,45671,0.0,20.0,0.0,0.705078,2.0,2.0,2.0,1.0,...,0,0,0,0,17447,19627,3100,2.185278,NaN,
99974,bafcab15-9898-479c-b729-c9dda7edb78f,56102,0.0,0.0,0.0,0.064175,1.0,2.0,1.0,2.0,...,1,1,1,0,18339,56180,34785,9.725278,NaN,
99975,ac88f18c-96a6-49bc-9e9d-a780225914af,0,0.0,0.0,0.0,NaN,1.0,1.0,NaN,1.0,...,2,2,2,0,0,0,30602,11.585278,NaN,